* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 1em;

  .column {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;

    img {
      width: 7em;
      height: 7em;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      opacity: 0;
      transition: all linear 0.3s;
    }

    h1 {
      font-size: 2em;
    }
  }
}
